
.about{
  padding: 70px;
  margin-bottom: 50px;
  /* background-color: violet; */
}
h1{
 text-align: center;
 font-style: normal;
 margin-bottom: 200px;
 
}
#martha{
  background-color: lavender;
}
#sarah{
  background-color: lavender;
}
#vida{
  background-color:lavender;
}
#tanesha{
  background-color: lavender;
}
