
.about{
  padding: 70px;
  margin-bottom: 50px;
  /* background-color: violet; */
}
h1{
 text-align: center;
 font-style: normal;
 margin-bottom: 200px;
padding: 40px;
padding-bottom: 5px;
 
}
#Team{
  background-color: lavender;
}
