/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

/* tanesha brester edits */

/* IF YOU UNCOMMENT THIS, IT WILL CHANGE THE HEADER COLOR FOR ALL PAGES REGARDLESS OF HEADER COLOR IN THE COMPONENT SPECIFIC CSS FILE */
/* .header {
background-color: rgb(130, 160, 160);
} */

.height{
  max-height: 770px; 
  /* max-width: fit-content; */
  margin: 3%;
 
}
#image{
  max-height: 870px;
  padding-bottom: 50px;
  /* opacity: .65; */
}
#carousel-text{
  background-color: darkgray;
  opacity: .85;
   /* padding: 5%;   */
   margin-bottom: 5%;  
  border: 2px solid black;
}
.carousel-text{
  color: black;
  font-weight: bold;
}

#signUpForm {
  margin-top: 7%;
}