body {
  background-color: rgb(130, 160, 160);
}


.header {
  background-color: rgb(130, 160, 160);
}


main {
  height: 500px;
}

/* figure out where this goes, move around, re-color it (figure out what h1 is being told to do in the index.css and try to override it all) -Tanesha Brester */
#abouth1 {
  color: red !important;
position: relative !important;
}

/* editing the text color for the about us P tags */
/* can override the issues with !important but not ideal, just to make sure code is working*/
/* Tanesha Brester */
p {
color: black !important;
}