@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,700&family=Outfit:wght@100;300;400;500;600;700;800;900&family=Raleway:wght@200;400;500;600;700;800&display=swap');
* {

  box-sizing: border-box;
  margin: 0;
  padding:0;

}
h1, p{
  color: white;
}

body {
  margin: 0;
  font-family: 'Outfit', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: pink; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn{
  padding: 12px 32px;
  font-size: 1.2rem;
  /* text-tranform: uppercase; */
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.btn-light {
  background: rgba (255,255,255, .2);
}
.btn:hover {
  background: rgba (255,255,255, .2);
}
